@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));



@layer base {
  /* Gunakan selector yang spesifik untuk menimpa 
    aturan default dari plugin typography.
  */

  /* Mengubah margin default untuk elemen-elemen umum */
  .prose p,
  .prose ul,
  .prose ol,
  .prose li,
  .prose blockquote,
  .prose pre,
  .prose table {
    margin-top: 0rem;    /* Ini setara dengan nilai `mt-4` */
    margin-bottom: 0rem !important; /* Ini setara dengan nilai `mb-4` */
    padding: 0;
  }

  /* Mengubah margin default untuk semua heading */
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    margin-top: 0rem;    /* Ini setara dengan nilai `mt-8` */
    margin-bottom: 0rem !important; /* Ini setara dengan nilai `mb-4` */
    padding: 0;
  }

  /* Anda juga bisa menambahkan aturan lain, misalnya mengubah line-height */
  .prose p {
    line-height: 1.65; /* setara dengan `leading-relaxed` */
  }
}

